.navbar {
  background-color: #ffffff;
  padding: 15px 64px;
  border-bottom: 1px solid var(--color-black-10);
}

.navbar-brand {
  width: 208px;
  height: 108px;
}

/*Begin Tablet, 729-1023px*/
.navbar-brand > img {
  height: 100%;
}

.nav-item > a {
  color: rgb(var(--color-black));
  font-size: var(--paragraph-tablet-size);
  font-family: var(--paragraph-font);
  line-height: var(--paragraph-tablet-height);
  padding: 0 14px !important;
}
/*End Tablet, 729-1023px*/

.nav-item > a:hover {
  color: var(--color-black-50);
}

.nav-item > a:active {
  color: var(--color-black-25);
}

.current {
  font-family: var(--paragraph-bold) !important;
}

.nav-menu {
  color: var(--color-black-75);
  font-size: 44px;
  border: none;
}

.nav-menu:hover {
  color: rgb(var(--color-black));
}

.nav-menu:active {
  opacity: 0.5;
}

.nav-menu:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 1099px) {
  .navbar-brand {
    width: 50px;
    height: 50px;
  }

  .navbar {
    padding: 8px 32px;
  }
}

/*PC, >= 1024px*/
@media (min-width: 1024px) {
  .navbar-brand {
    width: 150px;
    height: 69px;
  }

  .nav-item > a {
    font-size: var(--paragraph-size);
    font-family: var(--paragraph-font);
    line-height: var(--paragraph-height);
    padding: 0 16px !important;
  }
}

/*MOBILE, 0-728px*/
@media (max-width: 728px) {
  .nav-item > a {
    font-size: var(--h6-phone-size);
    line-height: var(--h6-phone-height);
    padding: 0 12px !important;
    color: red;
  }
}
