/*Begins Tablet, 729-1024px*/
.contact-info {
  padding: 64px 128px 96px;
}

.location {
  margin-bottom: 96px;
}

.location h3,
.contact-buttons h3 {
  color: rgb(var(--color-black));
  font-family: var(--h3-font-bold);
  font-size: var(--h3-tablet-size);
  line-height: var(--h3-tablet-height);
  margin-bottom: 56px;
}
/*Ends Tablet, 729-1024px*/

/*PC, >= 1025px*/
@media (min-width: 1025px) {
  .contact-info {
    padding: 64px 256px 128px;
  }

  .location {
    margin-bottom: 128px;
  }

  .location h3,
  .contact-buttons h3 {
    font-size: var(--h3-size);
    line-height: var(--h3-height);
    margin-bottom: 64px;
  }
}

/*MOBILE, 0-728px*/
@media (max-width: 728px) {
  .contact-info {
    padding: 64px 64px 96px;
  }

  .location h3,
  .contact-buttons h3 {
    font-size: var(--h3-phone-size);
    line-height: var(--h3-phone-height);
    margin-bottom: 48px;
  }
}
