.about {
  margin: 96px 128px;
}

/*Begin Tablet, 729-1024px*/
.about p {
  color: var(--color-black-75);
  font-family: var(--paragraph-font);
  font-size: var(--paragraph-tablet-size);
  line-height: var(--paragraph-tablet-height);
  margin-bottom: 32px;
}

.about button {
  margin-top: 56px;
}
/*Ends Tablet, 729-1024px*/

/*PC, >= 1025px*/
@media (min-width: 1025px) {
  .about {
    margin: 128px 256px;
  }

  .about p {
    font-size: var(--paragraph-size);
    line-height: var(--paragraph-height);
  }

  .about button {
    margin-top: 64px;
  }
}

/*MOBILE, 0-728px*/
@media (max-width: 728px) {
  .about {
    margin: 96px 64px;
  }

  .about p {
    font-size: var(--paragraph-size);
    line-height: var(--paragraph-height);
  }

  .about button {
    margin-top: 48px;
  }
}
