/*Begin Tablet, 729-1024px*/
.home-container {
  padding: 96px 128px;
}
/*Ends Tablet, 729-1024px*/

/*PC, >= 1025px*/
@media (min-width: 1025px) {
  .home-container {
    padding: 128px 256px;
  }
}

/*MOBILE, 0-728px*/
@media (max-width: 728px) {
  .home-container {
    padding: 96px 64px;
  }
}
